:root {
  --animacion-tamano-cuerda: 34px;
  --animacion-tamano-cuerda2: 10px;
  --animacion-cuerda: -34px;
}

body,
html {
  padding: 0px;
  margin: 0px;
  font-family: 'Calibri', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h4 {
  padding: 0px;
  margin: 0px;
}

ol {
  margin: 0px auto;
  padding: 0px 21px;
}

/* ok */
.titulo-interactiva {
  font-size: 1.2em;
  color: #009b7f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 67vh;
  pointer-events: none;
}


.contendor-bienvenida {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #dce5db;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%2395ac92' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E"); */
  background-image: url(./assets/img/fondo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Imagenes */
.responsive {
  width: 100%;
  height: auto;
}



.responsive-traje {
  width: 80%;
  height: max-content;
}

.imagen-personaje {
  background-image: url(./assets/img/imagenFondo.png);
  width: 100vw;
  height: 100vw;
  background-position: center;
  overflow: hidden;
}

.contenedor-texto {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  height: fit-content;
  align-items: center;
  background: aliceblue;
  width: 55vh;
  float: left;
  margin: 15% 10%;
  padding: 23px;
  box-shadow: -5px -7px 0px darkolivegreen;
}

.contenido-actividad-bienvenida {
  background-image: url(./assets/img/imagenFondo.png);
  /*  background-image: url(./assets/img/fondosupervivencia.png); */
  width: 100vw;
  height: 100vh;
  /* background-position: 92%; */
  background-position: center center;
  background-repeat: no-repeat;
  overflow-y: hidden;
  overflow-x: hidden;
  /* background-size: 151%; */
  background-size: 100% 100%;
}

.bandera-chile {
  position: absolute;
  bottom: 52vh;
  right: 37.5%;
  width: 10vw;
  height: 10vh;
  background-image: url(./assets/animaciones/superbandera-chile-unscreen.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  transform: rotate(-48deg);
}

.escena2 {
  background-image: url(./assets/img/fondoRescate.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  grid-template-columns: 1fr 2fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none
}


.imagen-accidente {
  background-image: url(./assets/img/imagen-accidente.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain
}

.contenedor-escena3 {
  width: 100vw;
  height: 100vh;
  display: none;

  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: center;

}


.mineros-rescate {
  width: 100vw;
  height: auto;
  background-color: rgb(205, 202, 207);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  top: 0px;
  display: none
}

.maquina {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./assets/img/montañasfondoCompleto.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.contenedor-maquina {
  width: 50vw;
  height: auto;
  /*   background-color: lime; */
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.minero-maquina {
  width: 10vw;
  height: 28vh;
  background-image: url(./assets/img/minero-maquina.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 32%;
  margin-left: 74%;
  margin-top: 26px;
}

.brocagrande {
  display: none;
  width: 10vw;
  height: 28vh;
  background-image: url('./assets/img/brocaGrande.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50%;
  position: relative;
  top: -110px;
  left: 45%;
  animation: animacionBrocaGrande 4s infinite;
  animation-fill-mode: both;
  cursor: pointer
}

.brocagrande:hover::before {
  content: 'Click en la broca';
  width: 150px;
  height: 100px;
  color: white;
  position: absolute;
  left: 12px;
  bottom: 0px
}



.maquina-interna {
  width: 10vw;
  height: 100%;
  background-image: url('./assets/img/EditandoBroca.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  margin-top: 3%;
  z-index: 99;
  cursor: pointer;
  animation: animacionBrocaGrande 2s infinite
}

.taladro {
  width: 100vw;
  height: 1200px;
  /* border: 5px solid orange; */
  background-color: #493623;
  position: relative;
  bottom: 0px;
  display: grid;
  grid-template-columns: 15fr 1fr 15fr;
}

.pared1Taladro {
  background-image: url('./assets/img/tierra.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 100%;
  background-color: #4b4b4b;
  width: auto;
  height: 100%;
}

.centro-taladro {
  width: auto;
  height: 0%;
  background-color: #2E231F;
  background-image: url('./assets/img/taladro.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  overflow: hidden
}



.pared2Taladro {
  background-image: url('./assets/img/tierra.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% 100%;
  background-color: #4b4b4b;
  width: auto;
  height: 100%;
}

.inferior-mineros {
  width: 100vw;
  height: 53vh;
  background-color: #2C221F;
  background-image: url('./assets/img/inferior_rescate.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  position: relative;
  bottom: 0px
}


/* JUEGO */

.juego {
  width: 100vw;
  height: 100vh;
  display: none
}

.contenedor-juego {
  padding: 23px;
  display: grid;
  background-color: white;
  align-items: center;
  text-align: center;
  grid-template-columns: 1/6fr 3fr;
  background-image: url(./assets/img/montañasfondoCompleto2.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: auto;
  height: 20vh
}

.mensaje-fenix {
  width: 38vw;
  height: 60vh;
  background-color: #EAEDC4;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: absolute;
  bottom: 21vh;
  right: 76px;
  display: none
}

.fenix-descripcion {
  width: 20vw;
  height: 51vh;
  background-image: url(./assets/img/capsulafenix.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-size: 86%;
}

.texto1-mesaje-fenix {
  display: none;
  padding: 12px 14px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 38vh;
  height: fit-content;
  text-align: justify;
  position: absolute;
  top: 13%;
  left: 21%;
  z-index: 9999;
  border-radius: 13px;
  background-color: white;
  border: 1px solid rgb(91, 168, 91);
  box-shadow: 5px 7px 0px darkolivegreen;

}

.texto3-mesaje-fenix {
  padding: 12px;
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 25% auto;
  height: fit-content;
  text-align: justify;
  font-size: 1.2em
}



.texto2-mesaje-fenix {
  padding: 21px;
  margin: 0px auto;
  place-items: center;
  height: fit-content;
  text-align: justify;
  width: auto;

}


.contenedor-descripcion-fenix {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-content: center;
  height: fit-content
}

.contenedor-mineros {
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 20vh;
}

.contenedor-paredes {
  width: 100%;
  height: 100vh;
  background-color: #2F2521;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
  flex-grow: 3;
}

.pared1 {
  width: 48%;
  height: 50vh;
  background-color: rgb(100, 100, 100);
  background-image: url('./assets/img/tierra2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%
}

.minero1 {
  width: 7vh;
  height: 7vh;
  background-image: url('./assets/img/M1.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}

.minero2 {
  width: 7vh;
  height: 7vh;
  background-image: url('./assets/img/M2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}

.minero3 {
  width: 6vh;
  height: 6vh;
  background-image: url('./assets/img/M3.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}

.minero4 {
  width: 7vh;
  height: 7vh;
  background-image: url('./assets/img/M4.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}

.minero5 {
  width: 7vh;
  height: 7vh;
  background-image: url('./assets/img/M5.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}

.minero6 {
  width: 7vh;
  height: 7vh;
  background-image: url('./assets/img/M6.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain
}

.MensajeRescate1 {
  visibility: hidden;
  width: 35vh;
  height: 13vh;
  background-image: url(./assets/img/mensaje1-01.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  position: absolute;
  top: -65px;
  right: 394px;
  cursor: pointer
}

.MensajeRescate2 {
  visibility: hidden;
  width: 35vh;
  height: 13vh;
  background-image: url(./assets/img/mensaje2-02.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  position: absolute;
  top: 95px;
  right: 394px;
  cursor: pointer;
  z-index: 99999
}

.mensaje-final-juego {
  display: none;
  background-color: white;
  padding: 23px 23px;
  width: 67vh;
  height: fit-content;
  position: absolute;
  top: 29%;
  left: 32%;
  margin: 0px auto;
  cursor: pointer;
  z-index: 99999;
  border-radius: 23px;
  box-shadow: -5px -7px 0px darkolivegreen;
}

.canasta {
  width: 2%;
  height: 14%;
  position: relative;
  top: 10px;
  display: inline-block;
  z-index: 900;
  background-image: url('./assets/img/capsula.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

/* .canasta::before {
  content: '';
  width: 4px;
  height: var(--animacion-tamano-cuerda);
  background-color: black;
  position: absolute;
  top: var(--animacion-cuerda);
  left: 50%;
} */


.cuerda {
  position: absolute;
  width: 10%;
  height: var(--animacion-tamano-cuerda2);
  left: 44.89%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  pointer-events: none;
}

.figura-cuerda {
  width: 4px;
  height: 100%;
  background-color: black;
  margin: 0px auto;
}


.pared2 {
  width: 48%;
  height: 50vh;
  background-color: rgb(100, 100, 100);
  background-image: url('./assets/img/tierra2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover
}

.mineros-juego {
  width: 35vh;
  height: 20vh;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px auto;
  grid-gap: 26px;
}

.mineros-juego div {
  display: flex;
  justify-content: center;
  align-items: center;
}



.rueda {
  width: 10vh;
  height: 10vh;
  background-color: silver;
  border-radius: 100%;
  border: 1px solid black;
}

.rueda-dragable {
  content: ',';
  /*  background-color: red; */
  width: 2vh;
  height: 2vh;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
}

.torre-taladro {
  width: 23vh;
  height: 23vh;
  background-image: url(./assets/img/torreTaladro.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  left: 44.5%;
  z-index: 9;
  top: 12vh;
  margin: 0px auto;
  pointer-events: none;
}

.contador-mineros-rescatados {
  position: relative;
  right: -23px;
  font-weight: bold;
}

.descripcion-minero-rescado {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 68vh;
  height: 18vh;
  margin: 0px auto;
  position: absolute;
  top: 11%;
  border-radius: 23px;
  border: 1px solid rgb(91, 168, 91);
  box-shadow: 3px 4px 0px darkolivegreen;
  background-color: white
}

.imagen-minero-juego {
  width: 5vh;
  height: 12vh;
  background-image: url('./assets/img/minero.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0px auto;
  text-align: left;
}

.texto-descripcion {
  width: 44vh;
  height: 18vh;
  margin: 0px auto;
  text-align: left
}




/**/

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer
}

#output {
  background-color: #3B3B3B;
  width: 100%;
  display: none;
  min-height: 30px;
  padding: 10px;
  font-size: 0.8em;
  color: white;
}

#rotate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  cursor: pointer;
  pointer-events: none;
}



#rotatable {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 114px;
  height: 114px;
  font-size: 2rem;
  pointer-events: all;
  z-index: 999
}

.parte-lazo-polea {
  width: 4px;
  height: 11vh;
  background-color: black;
  margin: 0px auto;
}

.mineros-top {
  width: 19vh;
  height: 19vh;
  margin: 0px auto;
  background-image: url('./assets/img/mineros.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  left: 45%;
  top: 21vh;
  z-index: 9999;
  pointer-events: none;
}


.parte-lazo {
  width: auto;
  height: 10px
}

.mensaje-mineros-rescate {
  width: 30%;
  height: max-content;
  margin-top: 3%;
  text-align: justify;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  right: 100px;
  padding: 12px;
  border-radius: 13px;
  background-color: white;
  border: 1px solid rgb(91, 168, 91);
  box-shadow: 5px 7px 0px darkolivegreen;
}

.mensaje-broca-rescate {
  /*display:flex; TODO:Aca mensaje rescatae*/
  display: none;
  width: 30%;
  height: 5%;
  top: 73%;
  text-align: justify;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 35%;
  padding: 12px;
  border-radius: 13px;
  background-color: white;
  border: 1px solid rgb(91, 168, 91);
  box-shadow: 5px 7px 0px darkolivegreen;
  z-index: 9999
}

#btn3 {
  width: 30vh;
  height: 20vh;
  background-image: url(./assets/img/Tab3.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%
}

#btn3:hover {
  width: 50vh;
  height: 20vh;
  background-image: url(./assets/img/rescateBtn.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 90%
}

#btn2 {
  width: 30vh;
  height: 20vh;
  background-image: url(./assets/img/Tab2.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%
}

#btn2:hover {
  width: 50vh;
  height: 20vh;
  background-image: url(./assets/img/rescateBtn2.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 90%
}

#btn1 {
  width: 30vh;
  height: 20vh;
  background-image: url(./assets/img/Tab1.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50%
}

#btn1:hover {
  width: 50vh;
  height: 20vh;
  background-image: url(./assets/img/rescateBtn3.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 90%
}

.zonda-comida {
  display: none;
  width: 100px;
  height: 70vh;
  position: absolute;
  top: -18px;
  right: 30%;
  z-index: 9999;
  pointer-events: none;
  /* background-image: url(./assets/animaciones/comida.gif);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain */
}

.mensaje-juego-instrucciones {
  width: fit-content;
  height: fit-content;
  padding: 3px;

  /* position: absolute; */
  border-radius: 23px;
  border: 1px solid rgb(91, 168, 91);
  box-shadow: 5px 7px 0px darkolivegreen;
  background-color: white;
}

.juego-intrucciones {
  width: 40vw;
  height: 30vh;
  background-image: url(./assets/animaciones/instrucciones.gif);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain
}

.mensaje-actividad {
  width: 30%;
  height: fit-content;
  padding: 3px;
  position: absolute;
  right: 100px;
  border-radius: 23px;
  border: 1px solid rgb(91, 168, 91);
  box-shadow: 5px 7px 0px darkolivegreen;
  background-color: white
}

#rotatable::before {
  content: '';
  background-image: url('./assets/img/circulo-rueda.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  display: inline-block;

  width: 89%;
  height: 89%;
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
}

#interaction {
  position: fixed;
  top: 3%;
  width: 2vh;
  height: 2vh;
  z-index: 9999000;
}


/* css actividad nueva*/

.contenedor-actividad {
  display: grid;
  grid-template-columns: 1fr;
  height: 31vh;
  align-items: center;
  background: aliceblue;
  width: 55vh;
  float: right;
  margin: 15% 15%;
  padding: 23px;
  box-shadow: -5px -7px 0px darkolivegreen;
}

.escena-bienvenida {
  display: block
}

.proteccion-mineros {
  text-align: center;
  background: aliceblue;
  width: 20vw;
  height: 60vh;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 25%;
  top: 12%;
  padding: 12px 12px;
  display: none
}

.puntos-click {
  width: 100%;
  height: 100vh;
  display: inline-block;
  position: relative;
  top: -100%;
  left: 50%
}

.puntos-click-escena-accidente {
  width: 100%;
  height: 100vh;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 14%;
}


#opcion1-accidente {
  position: relative;
  top: 65%;
  left: 100px
}



#opcion2-accidente {
  position: relative;
  top: 81%;
  left: 212px;
}

#opcion3-accidente {
  position: relative;
  top: 68%;
  left: 207px;
}





#opcion4-accidente {
  position: relative;
  top: 51%;
  left: 228px;
}



#opcion5-accidente {
  position: relative;
  top: 57%;
  left: 297px;
}



.botones-Menu {
  position: absolute;
  bottom: 22vh;
  left: 1px;
  z-index: 1;
  cursor: pointer;
  width: auto;
  display: none;
}

.imagenescena-mineros-dormir {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/img/minerosdormir.png);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 89% 67%;
  position: absolute;
  top: 0px;
  display: none;
  pointer-events: none;
}

.imagenescena-mineros-comer {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/img/comer.png);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center center;
  position: relative;
  top: -88vh;
  display: none;
  pointer-events: none;
  right: -118px;
}

.caja-imagen-proteccion {
  width: 50%;
  height: 100vh;
  position: relative;
  top: 0%;
}

.click-opcion {
  width: 2vw;
  height: 4vh;
  background-image: url(./assets/img/clickOpcion.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  cursor: pointer;
  animation: animacionPuntosClick 0.9s infinite;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  border-radius: 100%;

}

/* .proteccion-mineros ::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 6vh;
  position: relative;
  top: -30vw;
  left: 235px;
  cursor: pointer;
}


.temperatura-mineros::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 6vh;
  position: relative;
  top: -2vw;
  left: 248px;
  cursor: pointer;
}

.dormir-mineros::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 6vh;
  position: relative;
  top: -2vw;
  left: 248px;
  cursor: pointer;
} */

.zona-derrumbe {
  text-align: justify;
  background: aliceblue;
  width: 30vw;
  height: 28vh;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 25%;
  top: 12%;
  padding: 12px 12px;
  display: block;
  font-size: 1.2em;
  display: none
}

/* .zona-derrumbe::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 2vh;
  position: relative;
  top: -2vw;
  right: -100%;
  cursor: pointer;
} */

.zona-refugio {
  text-align: justify;
  background: aliceblue;
  width: 30vw;
  height: fit-content;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 25%;
  top: 12%;
  padding: 12px 12px;
  display: block;
  font-size: 1.2em;
  display: none
}

/* .zona-refugio::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 2vh;
  position: relative;
  top: -2vw;
  right: -100%;
  cursor: pointer;
} */



.profundidad {
  text-align: justify;
  background: aliceblue;
  width: 30vw;
  height: fit-content;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 25%;
  top: 12%;
  padding: 12px 12px;
  display: block;
  font-size: 1.2em;
  display: none
}

/* .profundidad::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 2vh;
  position: relative;
  top: -2vw;
  right: -100%;
  cursor: pointer;
} */


.sondas-animacion {
  width: 11vw;
  height: 61vh;
  background-image: url(./assets/img/sondas-aniamcion.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  position: absolute;
  bottom: 15%;
  right: 30%;
  display: none
    /*   animation:animacionsondas 2s infinite */
}



.sonda-alimentacion {
  text-align: justify;
  background: aliceblue;
  width: 30vw;
  height: fit-content;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 25%;
  top: 12%;
  padding: 12px 12px;
  display: block;
  font-size: 1.2em;
  display: none
}

/* .sonda-alimentacion::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 2vh;
  position: relative;
  top: -2vw;
  right: -100%;
  cursor: pointer;
} */

.sondas {
  text-align: justify;
  background: aliceblue;
  width: 25vw;
  height: fit-content;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 25%;
  top: 14%;
  padding: 12px 12px;
  display: block;
  font-size: 1.2em;
  display: none
}

/* .sondas::before {
  content: url(./assets/img/cerrar.png);
  width: 6vh;
  height: 2vh;
  position: relative;
  top: -2vw;
  right: -100%;
  cursor: pointer;
} */

.temperatura-mineros {
  text-align: center;
  background: aliceblue;
  width: 40vw;
  height: fit-content;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 10%;
  top: 12%;
  padding: 12px 12px;
  display: none
}

.dormir-mineros {
  text-align: center;
  background: aliceblue;
  width: 40vw;
  height: 20vh;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 10%;
  top: 12%;
  padding: 12px 12px;
  display: none
}

.comen-mineros {
  text-align: center;
  background: aliceblue;
  width: 40vw;
  height: fit-content;
  box-shadow: -5px -7px 0px darkolivegreen;
  position: relative;
  left: 15%;
  top: 12%;
  padding: 12px 12px;
  display: none
}

#opcion1 {
  position: relative;
  top: 65%;
  left: 45px;
}


#opcion2 {
  position: relative;
  top: 43%;
  left: 90px;
}

#opcion3 {
  position: relative;
  top: 32%;
  left: 160px;
}

#opcion4 {
  position: relative;
  top: 65%;
  left: 346px;
}

.click-opcion:hover {
  background-image: url(./assets/img/clickOpcionOver.png);
  filter: brightness(1.2)
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2.3em;
  font-family: 'Calibri', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #12584c;
  padding: 0px 0px !important;
  margin: 0px 0px !important;
}






.button {
  width: 100%;
  display: inline-block;
  /*  outline: 1px solid #009b7f;
    outline-offset: 2px; */
  text-decoration: none;
  text-align: center;
  padding: 6px 0px;
  border: solid 1px #285915;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #bdd012;
  background-image: -moz-linear-gradient(top, #bdd012 0%, #8cba27 100%);
  background-image: -webkit-linear-gradient(top, #bdd012 0%, #8cba27 100%);
  background-image: -o-linear-gradient(top, #bdd012 0%, #8cba27 100%);
  background-image: -ms-linear-gradient(top, #bdd012 0%, #8cba27 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cba27', endColorstr='#8cba27', GradientType=0);
  background-image: linear-gradient(top, #bdd012 0%, #8cba27 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  margin: 23px auto;
  cursor: pointer
}

.button:hover {
  width: 100%;
  margin: 0px auto;
  padding: 6px 0px;
  border: solid 1px #285915;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font: 18px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #E5FFFF;
  background-color: #e3ed85;
  background-image: -moz-linear-gradient(top, #e3ed85 0%, #bdd012 100%);
  background-image: -webkit-linear-gradient(top, #e3ed85 0%, #bdd012 100%);
  background-image: -o-linear-gradient(top, #e3ed85 0%, #bdd012 100%);
  background-image: -ms-linear-gradient(top, #e3ed85 0%, #bdd012 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdd012', endColorstr='#bdd012', GradientType=0);
  background-image: linear-gradient(top, #e3ed85 0%, #bdd012 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  margin: 23px auto;
}

#video-animacion {
  filter: drop-shadow(2px 4px 4px #333);
  border: 13px #2f92d8 groove;
  border-radius: 28px 28px;
  width: 84%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  justify-content: center;
  z-index: 999999999999;
  align-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  position: relative;
  /* padding: 0; */
  width: 50vh;
  /* display: grid; */
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  z-index: 999999999999;
}

#videoMobile {
  display: none
}

/* .modal-content::after{
  position:absolute;
  content:'X';
  color: white;
  float: right;
  font-size: 12px;
  font-weight: bold;
  margin-right: 13px;
}  */

/* Add Animation */

@keyframes animacionPuntosClick {

  100% {
    transform: scale(1.5, 1.5);
    transform-origin: 50% 50%;
    filter: drop-shadow(0px 2px 0.6px rgb(33, 92, 33));
    border: 1px double #147014;
  }

  0% {
    transform: scale(1, 1);
    transform-origin: 50% 50%;
    filter: drop-shadow(0px 2px 8px rgb(65, 118, 65));
    border: 0px double #147014;
  }
}


@keyframes animacionBrocaGrande {
  100% {
    filter: drop-shadow(0px 2px 0.6px rgb(33, 92, 33));
  }

  0% {
    filter: drop-shadow(0px 2px 8px rgb(94, 206, 94));
  }
}

@-webkit-keyframes animatataladro {
  from {
    height: 0%;

  }

  to {
    height: 100%;

  }
}


@-webkit-keyframes animatataladroReverse {
  from {
    height: 100%;

  }

  to {
    height: 0%;

  }
}

@keyframes animacionsondas {
  100% {
    opacity: 1;
    transform-origin: 0% 50%;
    filter: drop-shadow(0px 2px 0.6px rgb(108, 180, 108));
  }

  50% {
    opacity: 0;

    transform-origin: 00% 50%;
    filter: drop-shadow(0px 2px 0.6px rgb(33, 92, 33));

  }
}

@-webkit-keyframes animatetop {
  from {
    top: -100px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -100px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 13px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#tituloInteractiva {
  display: block;
  width: 57vw;
  height: 30vh;
  background-image: url(./assets/img/TituloInteractiva.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}

.modal-body {
  padding: 2px 16px;
}


@media (min-width: 1281px) {

  /* CSS */
  .torre-taladro {
    top: 15%;
    left: 44.5%
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */
  .torre-taladro {
    top: 15%;
    left: 44.5%
  }

}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */
  /*aca*/

  h1 {
    font-size: 1em
  }

  p {
    font-size: 0.8em
  }

  ul li {
    font-size: 0.8em
  }


  .button {
    padding: 2px 0px;
    font-size: 0.8em
  }

  .button:hover {
    padding: 2px 0px;
    font-size: 0.8em
  }

  .comen-mineros {
    width: 30vw;
    left: 25%;
  }

  .dormir-mineros {
    width: 30vw;
    left: 25%;
  }

  .temperatura-mineros {
    width: 30vw;
    top: 27%;
    left: 25%;
    height: fit-content
  }

  .puntos-click {
    left: 43%
  }

  .texto1-mesaje-fenix {
    font-size: 0.8em;
    top: 5%;
    left: 10%;
    width: 28vw !important;
    height: fit-content
  }

  .sondas-animacion {
    width: 11vw;
    height: 51vh;
    background-position: center center;
    background-size: 90%;
    position: absolute;
    bottom: 6%;
    right: 30%;
  }

  .zona-derrumbe,
  .zona-refugio,
  .sonda-alimentacion,
  .sondas,
  .profundidad {
    font-size: 0.9em
  }

  /*  .sondas-animacion {
    right: 30%;
    background-size: contain;
  } */

  .puntos-click-escena-accidente {
    left: 0%
  }

  #opcion1-accidente {
    position: relative;
    top: 65%;
    left: 140px
  }

  #opcion4-accidente {
    position: relative;
    top: 45%;
    left: 210px;
  }


  .contendor-bienvenida {
    height: 100vh;
    overflow: hidden;
  }

  .fenix-descripcion {
    background-size: 68%;
  }

  .mensaje-broca-rescate {
    top: 79%
  }

  #tituloInteractiva {
    top: -3% !important;
    right: 2px !important;
    background-size: contain;
  }

  .brocagrande {
    top: -41px;
  }

  .mensaje-fenix {
    right: 24px
  }

  .texto3-mesaje-fenix {
    margin-top: 3%
  }


  .botones-Menu {
    bottom: 8vh;
  }

  .mensaje-mineros-rescate {
    height: fit-content;
    width: 39vw;
    margin-top: 12px;
    right: 10px;
  }

  .responsive {
    width: 60%;
    height: auto;
  }

  .bandera-chile {
    position: absolute;
    bottom: 38vh;
  }

  .contendor-textos-escena2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }

  .torre-taladro {
    top: 15%;
    left: 44.5%
  }

  .mineros-top {
    top: 30%;
    left: 45.5%
  }


  #rotatable {
    width: 70px;
    height: 70px;
  }

  .contenedor-mineros {
    bottom: -52px
  }

  .texto-descripcion {
    font-size: 0.8em;
    width: 49vh;
  }

  .descripcion-minero-rescado {
    left: 72px;
    height: 32vh;

  }

  .MensajeRescate1 {
    right: 34%;
    top: -34px
  }

  .MensajeRescate2 {
    right: 34%;
    top: 24%
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */
  h1 {
    font-size: 1em
  }

  p {
    font-size: 0.8em
  }

  ul li {
    font-size: 0.8em
  }

  .zona-derrumbe,
  .zona-refugio,
  .sonda-alimentacion,
  .sondas,
  .profundidad {
    font-size: 0.9em
  }

  .sondas-animacion {
    width: 11vw;
    height: 51vh;
    background-position: center center;
    background-size: 90%;
    position: absolute;
    bottom: 6%;
    right: 30%;
  }

  .sondas-animacion {
    right: 27.5%;
  }

  .comen-mineros {
    width: 30vw;
    left: 28%;
  }

  .dormir-mineros {
    width: 30vw;
    left: 25%;
  }

  .temperatura-mineros {
    width: 30vw;
    top: 27%;
    left: 25%;
    height: fit-content
  }


  .puntos-click-escena-accidente {
    left: -12%
  }

  .texto1-mesaje-fenix {
    font-size: 0.8em;
    top: 5%;
    left: 10%;
    width: 28vw !important;
    height: fit-content
  }

  .puntos-click {
    left: 35%
  }

  #opcion1-accidente {
    position: relative;
    top: 65%;
    left: 140px
  }

  #opcion4-accidente {
    position: relative;
    top: 45%;
    left: 210px;
  }

  .botones-Menu {
    bottom: 16vh;
  }

  .contendor-bienvenida {
    height: 100vh;
    overflow: hidden;
  }

  #tituloInteractiva {
    top: -3% !important;
    right: 2px !important;
    background-size: contain;
  }

  .brocagrande {
    top: -41px;
  }

  .fenix-descripcion {
    background-size: 76%;
  }

  .mensaje-fenix {
    right: 24px
  }

  .texto3-mesaje-fenix {
    margin-top: 5%
  }

  .mensaje-mineros-rescate {
    height: fit-content;
    width: 39vw;
    margin-top: 12px;
    right: 10px;
    z-index: 9999
  }

  .escena2 {
    grid-template-columns: 1.2fr 2fr;
  }

  .contendor-textos-escena2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
  }

  .torre-taladro {
    top: 15%;
    left: 44.5%
  }

  .mineros-top {
    top: 30%;
    left: 45.5%
  }


  #rotatable {
    width: 70px;
    height: 70px;
  }

  .contenedor-mineros {
    bottom: -52px
  }

  .texto-descripcion {
    font-size: 0.8em;
    width: 48vh;
  }

  .descripcion-minero-rescado {
    left: 65px;
    font-size: 0.8em;
    height: 23vh;
    width: 73vh
  }

  .MensajeRescate1 {
    right: 34%;
    top: -34px
  }

  .MensajeRescate2 {
    right: 34%;
    top: 24%
  }

  .mensaje-actividad {
    width: 80vh;
    right: 30px
  }


  .responsive {
    width: 60%;
    height: auto;
  }

  .bandera-chile {
    position: absolute;
    bottom: 35vh;
  }

  .button {
    padding: 2px 0px;
    font-size: 0.8em
  }

  .button:hover {
    padding: 2px 0px;
    font-size: 0.8em
  }


}


@media only screen and (max-width: 600px) {

  #video {
    display: none
  }

  #videoMobile {
    display: block
  }

  #videoOthers {
    display: none
  }

  .imagen-personaje {
    background-image: url(./assets/animaciones/Personaje.gif);
    width: 200px;
    height: 375px;
    background-position: right;
    overflow: hidden;
    background-size: 176%;
    background-repeat: no-repeat;
    margin: -49px;
  }

  .contenedor-actividad {
    display: grid;
    grid-template-columns: 1fr;
    height: 71vh;
    align-items: center;
  }
}